<script type="text/javascript" src="{{ site.url }}/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/main.js"></script>
<script src="{{ site.url }}/js/cookieconsent.min.js"></script>
<script>
      window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#f0edff","text":"#000000","border":"#5e65c2"},"button":{"background":"#5e65c2","text":"#ffffff"}},"position":"bottom","fontsize":"small","content":{"href":"http://noobe.io/cookie-policy/"}})});
</script>
{% if site.owner.google.analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.owner.google.analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.owner.google.analytics }}');
</script>

{% endif %}
